<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <img src="/images/camera.svg">
    <a href="/flights/new">New Flight!</a>
    <a href="/flights">All Flights</a>
  </nav>
  </body>
</html>
